html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #f5f6fa;
  letter-spacing: 0.03em;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.flexer {
  display: flex;
}

.App {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  margin-top: 8.3rem;
  width: 100%;
}

/* navbar */
nav {
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 6.25rem 1.5rem 6.25rem;
  background-color: #fff;
  height: 4.975rem;
  width: 100%;
}

.nav-line {
  width: 100%;
  height: 0.125rem;
  margin: 0  0 2.375rem 0;
  border: solid 1px #e8e8e8;
}

.main-nav {
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  text-decoration: none;
  padding: 0%;
  margin-left: 6%;
}

.main-nav a {
  text-decoration: none;
  color: #121212;
  letter-spacing: 1.9px;
}

.logo {
  color: #0290ff;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: normal;
}

.mask {
  color: #0290ff;
  margin-right: 6%;
  border: 1px solid #f5f6fa;
  padding: 2%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* lesson panel */
.lesson-panel {
  border: solid 1px #e8e8e8;
  justify-content: space-between;
  margin: 0  6.25rem 0.98rem 6.25rem;
  width: 80%;
  height: 10.625rem;
  background-color: #fff;
  padding: 2rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.lesson-panel p {
  font-size: 0.9rem;
  color: #121212;
  letter-spacing: normal;
  opacity: 0.5;
}

.lesson-panel h1 {
  font-size: 1.4rem;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.meta button {
  border: unset;
  border-right: 0.125rem solid #e8e8e8;
  color: #4386bf;
  background: #fff;
  font-size: 0.9rem;
  padding: 0 1rem 0 1rem;
}

/* progress */
.progress {
  padding: 3%;
}

.progress-circle {
  transform: rotate(-90deg);
  width: 10.25rem;
  height: 10.25rem;
}

.progress-circle-back {
  fill: none;
  stroke: #d2d2d2;
  stroke-width: 6px;
}

.progress-circle-prog {
  fill: none;
  stroke: #0290ff;
  stroke-width: 6px;
  stroke-dasharray: 177, 277;
  stroke-dashoffset: 0;
  transition: stroke-dasharray 0.7s linear 0s;
  -webkit-transition: stroke-dasharray 0.7s linear 0s;
  -moz-transition: stroke-dasharray 0.7s linear 0s;
  -ms-transition: stroke-dasharray 0.7s linear 0s;
  -o-transition: stroke-dasharray 0.7s linear 0s;
}

/* line dividing */
.Line {
  width: 85%;
  height: 0.125rem;
  margin: 2rem 6.25rem 0 6.25rem;
  border: solid 1px #e8e8e8;
}

/* percentage done */
#percent {
  font-size: 2rem;
  color: #121212;
  margin-bottom: 0;
  font-weight: normal;
  font-family: Montserrat, sans-serif;
}

.state {
  opacity: 0.5;
  font-size: 0.875rem;
  color: #121212;
  margin-top: 0;
  letter-spacing: normal;
}

/* current */

.currently p {
  padding: 10px;
  opacity: 0.5;
  font-size: 0.813rem;
  color: #121212;
}

.currently button {
  width: 11rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  border: none;
  background: #0290ff;
  color: #fafafa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

#title {
  font-size: 1rem;
  font-weight: 300;
}

.add-book {
  flex-direction: column;
  justify-content: space-between;
  margin: 0 6.25rem 0.98rem 6.25rem;
  width: 85%;
  padding: 2rem;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.add-book h1 {
  color: #888;
  font-weight: bold;
  font-size: 1.25rem;
}

form {
  justify-content: space-between;
}

/* input */
input {
  width: 60%;
  height: 2.5rem;
  border-radius: 4px;
  background-color: #fff;
  border: solid 1px #e8e8e8;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.input-title {
  width: 31rem;
}

.input-author {
  width: 12rem;
}

::placeholder {
  color: #c4c4c4;
  opacity: 1;
}

input:focus {
  outline: none;
  border: 1px solid #0290ff;
}

select {
  width: 25%;
  height: 3.6rem;
  border-radius: 4px;
  background-color: #fafafa;
  border: solid 1px #e8e8e8;
  padding: 0.5rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.book-adder {
  border: none;
  height: 3.6rem;
  align-items: center;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  background-color: #0290ff;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.categories {
  background: #f5f6fa;
  height: 100vh;
  width: 100%;
  text-align: center;
}

.meta button:nth-child(3) {
  border-right: none;
}
